/* .info-card
{
    max-width: 500px; 
    background: lightgray;
} */
.example-card {
    max-width: 500px;
    background-color: lightgray;
  }


.mat-card-header .mat-card-title {
    font-size: 50px;
}
.mat-card-content{
    font-size: 21px;
    
}
